.rodape{
    background-color: rgba(19, 16, 16, 0.582);
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rodape__registrado{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    align-self: flex-end;
    padding-bottom: 10px;
}

.rodape__texto{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 20px;
}

@media screen and (max-width: 768px){
    .rodape{
        flex-direction: column;
        height: auto;   
    }

    .rodape__texto{
        padding-top: 5px;
        text-align: center;
    }

    .rodape__mapa{
        max-width: 300px;
    }

    .rodape__registrado{
        margin: 10px 0;
        
    }
}