.cabecalho{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    background: #73b9f1;
    position: fixed;
}

.cabecalho__logo {
    margin: 5px 10px;
    max-width: 100px;
    width: 25%;
}

.cabecalho__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cabecalho__menu--item{
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
}

.cabecalho__menu--item:hover{
    text-decoration: underline;
}

.cabecalho__menu--item:last-child{
    margin-right: 80px;
}


@media screen and (max-width: 768px){
    .cabecalho{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .cabecalho__menu{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 5px;
    }

    .cabecalho__menu--item{
        font-size: 1rem;
        padding-bottom: 10px;
    }

    .cabecalho__menu--item:last-child{
        margin-right: 0;
    }

    .cabecalho__logo{
        display: none;
    }

}