
.sobrenos{
    display: flex;
    justify-content: space-around;
    height: 600px;
    min-height: 320px;
    padding-top: 20px;
    box-sizing: border-box;
}

.sobrenos__artigo{
    max-width: 50%;
    max-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    margin-top: 20px;
}

.sobrenos__artigo--titulo{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 48px;
}

.sobrenos__artigo--texto{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.5rem;
}

.teste__span{
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: bold;
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

.sobrenos__artigo--botao{
    height: 70px;
    width: 50%;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: aliceblue;
    background: #3aa2f7;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.sobrenos__artigo--botao:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

.sobrenos__imagem{
    max-height: 80%;
    padding-top: 48px;
    padding-bottom: 48px;
    width: 400px;
    max-width: 400px;
}

@media screen and (max-width: 768px){
    .sobrenos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
    }

    .sobrenos__artigo{
        max-height: 60%;
        max-width: 100vw;
        margin-left: 10px;
        margin-right: 10px;
    }

    .sobrenos__artigo--titulo{
        padding-top: 0px;
    }

    .sobrenos__artigo--texto{
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .sobrenos__artigo--botao{   
        margin-top: 20px;
        width: 250px;
    }

    .sobrenos__imagem{
        padding-top: 1.5rem;
        min-width: 300px;
        margin: 0 10px;
        height: 400px;
        padding-bottom: 0px;
    }
}