.atuacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px 15px;
}

.atuacao__card{
    display: flex;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 200px;
    max-height: 300px;
}

.atuacao__card:hover{
    transform: scale(1.1);
}

.atuacao__card--titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;  
    padding-top: 10px;  
    height: 20%;
}

.atuacao__card--descricao{
    font-family: 'Open Sans', sans-serif;    
    font-size: 1.2rem;
    text-align: center;
    padding: 0px 15px 0 15px;
    height: 30%;
}

.atuacao__card--imagem--esportes{
    background: url(../icons/esportes.svg) no-repeat;
    width: 20%;
    height: 40%;
    background-size: contain;
    margin: auto;
}

.atuacao__card--imagem--musicas{
    background: url(../icons/musica.svg) no-repeat;
    width: 20%;
    height: 40%;
    background-size: contain;
    margin: auto;
}

.atuacao__card--imagem--artes{
    background: url(../icons/artes.svg) no-repeat;
    width: 20%;
    height: 40%;
    background-size: contain;
    margin: auto;
}

.atuacao__card--imagem--dancas{
    background: url(../icons/danca.svg) no-repeat;
    width: 20%;
    height: 40%;
    background-size: contain;
    margin: auto;
}

.atuacao__card--imagem--informatica{
    background: url(../icons/informatica.svg) no-repeat;
    width: 20%;
    height: 40%;
    background-size: contain;
    margin: auto;
}

.atuacao__card--imagem--psico{
    background: url(../icons/psico.svg) no-repeat;
    width: 20%;
    height: 40%;
    background-size: contain;
    margin: auto;
}

@media screen and(max-width: 768px){
    .atuacao{
        display: flex;
        flex-wrap: wrap;
    }
}