.contato{
    background-color: #73b9f1;
    max-height: 600px;
    height: 600px;
}

.contato__titulo{
    display: block;
    width: 100wh;
    height: 50px;
    padding-top: 30px;
}

.contato__titulo--nome{
    font-family: 'Opens Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    margin-left: 20px;
}

.conteudo__contato{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-height: 520px;
    height: 520px;
}

.contato__imagemetexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    max-height: 100%;
    height: 100%;
}

.contato__formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    justify-content: space-around;
}

.form__label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
}

.contato__form{
    display: flex;
    margin-left: 20px;
    width: 50%;
    justify-content: space-around;
}

.form__inputtext{
    height: 2.5rem;
    width: 50%;
    box-sizing: border-box;
    margin-top: 10px;
    border: 2px solid;
    margin-bottom: 10px;
}

.form__inputtext::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding-left: 10px;
}

.form__inputtextarea{
    height: 6rem;
    width: 75%;
    box-sizing: border-box;
    margin-top: 10px;
    border: 2px solid;
    margin-bottom: 10px;
    padding-left: 5px;
}

.form__inputtextarea::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding-left: 5px;
}

.form__botao{
    background-color: white;
    color: #73b9f1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid black;
    height: 60px;
    min-height: 60px;
    width: 200px;
    min-width: 200px;
    left: 50%;
    margin-top: 20px;
}

.form__botao:hover{
    transform: scale(1.1);
    text-decoration: underline;
}

.contato__frase{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 20px;
}

.contato__imagem{
    margin-top: 10px;
    width: 50%;
    min-width: 50px;   
    height: 50%;
}

@media screen and (max-width: 768px){

    .contato{
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: none;
    }
    .conteudo__contato{
        display: flex;
        flex-direction: column;
        height: auto;
        max-height: none;
    }
    .contato__formulario{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
        margin-left: 5px;
        justify-content: left;
        align-items: center;
    }

    .contato__form{
        display: flex;
        margin-left: 5px;
        width: 100%;
        justify-content: space-around;
        align-items: initial;
    }

    .form__inputtext{
        width: 90%;
    }

    .form__inputtextarea{
        width: 90%;
    }

    .contato__imagemetexto{
        margin-top: 10px;
        width: 90%
    }

    .contato__imagem{
        width: 30%;
        height: 40%;
    }

}